<section class="home">
    <div class="home__logo">

        <img src="../../../assets/img/arstudio-logo--redwhite.png" alt="ars-logo">

        <div class="home__logo__category">
            <a class="btn-link" routerLink="/software" routerLinkActive="active">
                <img src="https://cdn1.iconfinder.com/data/icons/aami-web-internet/64/aami2-23-1024.png" alt="Software Develop">
            </a>
            <a class="btn-link">
                <img src="https://cdn0.iconfinder.com/data/icons/aami-web-internet/64/aami15-47-1024.png" alt="Product Design">
            </a>
            <a class="btn-link">
                <img src="https://cdn4.iconfinder.com/data/icons/aami-web-internet/64/aami17-18-1024.png" alt="Photo">
            </a>
            <a class="btn-link">
                <img src="https://cdn2.iconfinder.com/data/icons/set-of-drone-camera-technology-icon/91/Korawan_M_Drone02-1024.png" alt="Video">
            </a>
        </div>
    </div>
</section>
